.titulos {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    color: rgb(66, 66, 66);
}
.titulos2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    color: rgb(66, 66, 66);
    margin-top: 70px;
}

/* ------------------------------------- */
/*          PAGINA WEB RESPONSIVE               */
/* ------------------------------------- */

