.titulos {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    color: rgb(66, 66, 66);
}
.titulos2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    color: rgb(66, 66, 66);
    margin-top: 70px;
}

h2 {
    /* border: 1px dashed red; */
    background-color: rgba(128, 128, 128, 0.172);
    padding-left: 50px;
}

.card1 {
    border: 1px dashed blue;
    background-color: rgb(247, 228, 178);
    padding: 0px 50px;
    margin: 0px 50px;
}

.card2 {
    border: 1px dashed blue;
    background-color: rgb(247, 228, 178);
    padding: 0px 50px;
    width: 33%;
    margin: auto;
}

/* ----------MULTIPLES DIV ALINEADOS AL CENTRO */
.cont_1 {
    border: 1px dashed red;
    padding: 10px;
}

.card3 {
    border: 1px dashed blue;
    background-color: rgb(247, 228, 178);
    padding: 0px 50px;
    width: 30%;
}

/* ---ALINEADOS CON FLOAT----------- */
.cont_1 {
    border: 1px dashed red;
    padding: 10px;
    overflow: auto;
}

.card3 {
    border: 1px dashed blue;
    background-color: rgb(247, 228, 178);
    padding: 0px 50px;
    width: 25%;
    float: left;
}



