.titulos {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    color: rgb(66, 66, 66);
}
.titulos2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    color: rgb(66, 66, 66);
    margin-top: 70px;
}

h2 {
    /* border: 1px dashed red; */
    background-color: rgba(128, 128, 128, 0.172);
    padding-left: 50px;
}

.card1 {
    border: 1px dashed blue;
    background-color: rgb(247, 228, 178);
    padding: 0px 50px;
    margin: 0px 50px;
}

.card2 {
    border: 1px dashed blue;
    background-color: rgb(247, 228, 178);
    padding: 0px 50px;
    width: 33%;
    margin: auto;
}

/* ----------MULTIPLES DIV ALINEADOS AL CENTRO */
.cont_1 {
    border: 1px dashed red;
    padding: 10px;
}

.card3 {
    border: 1px dashed blue;
    background-color: rgb(247, 228, 178);
    padding: 0px 50px;
    width: 30%;
}

/* ---ALINEADOS CON FLOAT----------- */
.cont_1 {
    border: 1px dashed red;
    padding: 10px;
    overflow: auto;
}

.card3 {
    border: 1px dashed blue;
    background-color: rgb(247, 228, 178);
    padding: 0px 50px;
    width: 25%;
    float: left;
}

/*    ALINEADOS CON INLINEBLOCK-------- */
.cont_2 {
    border: 1px dashed red;
    padding: 10px;
}
.card4 {
    border: 1px dashed blue;
    background-color: rgb(247, 228, 178);
    padding: 0px 50px;
    width: 25%;
    display: inline-block;
}

/*    ALINEADOS CON FLEXBOX-------- */
.cont_3 {
    border: 1px dashed red;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.card5 {
    border: 1px dashed blue;
    background-color: rgb(247, 228, 178);
    padding: 0px 50px;
    width: 25%;
}

/*    ALINEADOS CON GRID-------- */
.cont_4 {
    border: 1px dashed red;
    padding: 10px;
    display: grid;
    grid-template-columns: 32% 32% 32%;
}
.card6 {
    border: 1px dashed blue;
    background-color: rgb(247, 228, 178);
    padding: 0px 50px;
}

/* --------EJERCICIO CLASS ID--------- */

/* Estilos para los botones */
.boton {
    margin: 5px;
    width: 100px;
}
.boton:hover {
    background-color: blueviolet;
    cursor: pointer;
}

/* Estilos base para los círculos */
.circle {
    width: 50px; /* Tamaño del círculo */
    height: 50px; /* Tamaño del círculo */
    border-radius: 50%; /* Borde redondo para formar el círculo */
    margin-top: 10px;
}

/* Estilos del contenedor de bolas */
.contball {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

/* Colores individuales para cada círculo */
.red { 
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.green { 
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.black { 
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 15px;
}

#special {
    color: blue;
}